// Global Foundation Settings
@import "settings";

.subscription-choices a {
}

.subscription-choices .picked {
	border: 4px solid #CC333F;
}

.subscription-choices .disabled {
}

.subscription-choices h3 {
	margin:0;
}

.subscription-choices p {
	margin:0;
	line-height: 1em;
	font-size:.7em;
}

.top-bar .name h1 a {
}

.top-bar .name h1 a:hover {
	background: #fff;
	color: #999;
}

.top-bar li {
	text-transform: uppercase;
}

.top-bar li a:hover {
	color: #eee;
	background: #333;	
}

a.button:hover {
	background: $hover-color;
}

div.marquee {
}

div.card {
}

h4.has-tip {
	text-transform: uppercase;
}

