// Global Foundation Settings
.red {
	color: #bf1e2d;
}
@import "settings";
p {
	font-weight: 300;
}
nav ul {
	margin: 0;
}
ul {
	margin: 0 0 10px 30px;
}
ul.pluslist {
	margin: -10px 0 20px 30px;
	list-style: none;
}

ul.pluslist li {
	padding-left: 15px;
	background: url('../img/plus.png') no-repeat top left;
	background-size: 10px 10px;
	background-position: 0px 8px;
	font-weight: bold;
}

ul.footerlist {
	font-size: 90%;
}

ul.footerlist li {
	font-size: 90%;
}

h2 {
	font-family: 'Antic Slab', Times, serif;
	font-size: 1em;
}
.bbplus {
	color:#c01e2e;font-family:arial;font-weight:bold;
}

strong {
	font-weight: 700;
}

.subscribe-top {
}

.subscribe-top h1 {
	text-transform: uppercase;
}

.subscribe-top h2 {
	color: #bf1e2d;
}

.subscription-choices .picked, .subscription-choices .picked:focus {
	background: #336600;
	color: #fff;
}

.subscription-choices .picked:hover{
	background: #003300;
	color: #eee;
}

.subscription-choices .disabled {
}

.subscription-choices h3 {
	margin:0;
}

.subscription-choices p {
	margin: 0;
	padding: 0;
}

.subscription-choices li a { }
.subscription-choices li { margin: 0; padding: 0; }

a#subscribe-process { background: #333; }
a#subscribe-process:hover { background: #444; }

.top-bar .name h1 a:hover, .top-bar .name h1 a:focus {
	background: #fff;
	color: #999;
}

.top-bar li {
	text-transform: uppercase;
}

a.button:hover {
	background: $hover-color;
}

div.marquee {
}

div.card {
}

h4.has-tip {
	text-transform: uppercase;
}

.full-height {
}

.sidebar-cocktails {
	background: url('../img/cocktails-sidebar.jpg?cb=1') top right repeat-y;
}

.sidebar-spirits {
	background: url('../img/spirits-sidebar.jpg?cb=1') top right repeat-y;
}

.opaque {
	background: #000;
	z-index: 9998;
}

.reveal-modal {
	z-index: 9999;
}

.reveal-modal-bg {
	z-index: 9998;
}

#ageModal {
	text-align: center;
}

#ageModal h3 {
	margin-top: 25px;
}

#ageModal input {
	max-width: 300px;
	margin: auto;
}

.shop img {
	max-height: 100px;
	max-width: 100px;
	margin: 10px;
}

.shop td {
	padding: 10px;
	min-height: 200px;
	text-align: center;
}