// Global Foundation Settings
@import "settings";

.subscribe-top {
	text-align: center;
}

.subscribe-top h1 {
	text-transform: uppercase;
}

.subscription-choices .picked {
	background: #336600;
	color: #fff;
}

.subscription-choices .picked:hover {
	background: #003300;
	color: #eee;
}

.subscription-choices .disabled {
}

.subscription-choices h3 {
	margin:0;
}

.subscription-choices p {
	margin:0;
	line-height: 1em;
	font-size:.7em;
}

.subscription-choices li a { }
.subscription-choices li { margin: 0; padding: 0; }

a#subscribe-process { background: #333; }
a#subscribe-process:hover { background: #444; }

.top-bar .name {

}

.top-bar .name h1 a:hover {
	background: #fff;
	color: #999;
}

.top-bar li {
	text-transform: uppercase;
}

.top-bar li a:hover {
	color: #eee;
	background: #333;	
}

a.button:hover {
	background: $hover-color;
}

div.marquee {
}

div.card {
}

h4.has-tip {
	text-transform: uppercase;
}

.sidebar-cocktails {
	height: 572px;
	background: url('../img/cocktails-sidebar.jpg');
}

.sidebar-spirits {
	height: 572px;	
	background: url('../img/spirits.jpg');
}

.opaque {
	background: #000;
	z-index: 9998;
}

.reveal-modal {
	z-index: 9999;
}

.reveal-modal-bg {
	z-index: 9998;
}

#ageModal {
	text-align: center;
}

#ageModal h3 {
	margin-top: 25px;
}

#ageModal input {
	max-width: 300px;
	margin: auto;
}