<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /bb2/wp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# BEGIN WordPress

# END WordPress
