.bbplus {
  color: #c01e2e;
  font-family: arial;
  font-weight: bold; }

strong {
  font-family: Tahoma, serif;
  font-weight: bold; }

.subscribe-top {
  text-align: center; }

.subscribe-top h1 {
  text-transform: uppercase; }

.subscription-choices .picked, .subscription-choices .picked:focus {
  background: #336600;
  color: #fff; }

.subscription-choices .picked:hover {
  background: #003300;
  color: #eee; }

.subscription-choices h3 {
  margin: 0; }

.subscription-choices p {
  margin: 0;
  padding: 0; }

.subscription-choices li {
  margin: 0;
  padding: 0; }

a#subscribe-process {
  background: #333; }

a#subscribe-process:hover {
  background: #444; }

.top-bar .name h1 a:hover, .top-bar .name h1 a:focus {
  background: #fff;
  color: #999; }

.top-bar li {
  text-transform: uppercase; }

a.button:hover {
  background: #f95951; }

h4.has-tip {
  text-transform: uppercase; }

.sidebar-cocktails {
  background: url("../img/cocktails-sidebar.jpg?cb=1") top right repeat-y; }

.sidebar-spirits {
  background: url("../img/spirits-sidebar.jpg?cb=1") top right repeat-y; }

.opaque {
  background: #000;
  z-index: 9998; }

.reveal-modal {
  z-index: 9999; }

.reveal-modal-bg {
  z-index: 9998; }

#ageModal {
  text-align: center; }

#ageModal h3 {
  margin-top: 25px; }

#ageModal input {
  max-width: 300px;
  margin: auto; }

.shop img {
  max-height: 100px;
  max-width: 100px;
  margin: 10px; }

.shop td {
  padding: 10px;
  min-height: 200px;
  text-align: center; }
