/* line 7, ../sass/bittersbottles.scss */
.subscription-choices .picked {
  border: 4px solid #CC333F;
}

/* line 14, ../sass/bittersbottles.scss */
.subscription-choices h3 {
  margin: 0;
}

/* line 18, ../sass/bittersbottles.scss */
.subscription-choices p {
  margin: 0;
  line-height: 1em;
  font-size: .7em;
}

/* line 24, ../sass/bittersbottles.scss */
.top-bar li {
  text-transform: uppercase;
}

/* line 28, ../sass/bittersbottles.scss */
.top-bar li a:hover {
  color: #eee;
  background: #333;
}

/* line 33, ../sass/bittersbottles.scss */
a.button:hover {
  background: #f95951;
}
